<ion-header>
  <ion-row>
    <ion-col size="6" size-lg="auto">
      <ion-item lines="none" routerLink="/home">
        <ion-thumbnail slot="start">
          <img src="https://cdn1.iconfinder.com/data/icons/space-travel-flat/340/space_astronomy_system_planet_universe_galaxy_star_neptune-1024.png">
        </ion-thumbnail>
        <ion-label>Início</ion-label>
      </ion-item>
    </ion-col> 
  
    <ion-col size="6" size-lg="auto">
      <ion-item lines="none" routerLink="/planetas">
        <ion-thumbnail slot="start">
          <img src="https://cdn1.iconfinder.com/data/icons/space-travel-flat/340/space_astronomy_system_planet_universe_galaxy_star_neptune-1024.png">
        </ion-thumbnail>
        <ion-label>Planetas</ion-label>
      </ion-item>
    </ion-col> 
    
  </ion-row>
</ion-header>